html,
body,
.intro {
    height: 100%;
}

h2 {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
    position: relative;
}



.tshadow {
    box-shadow: 5px 10px 18px #888888;
}

table td,
table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

tbody td {
    font-weight: 500;
    color: #999999;
}



.table{
padding-right: 100px;
}